<div class="container mt-5">

  <blockquote class="blockquote">
    <h2 class="h5 mb-0"><%= @question %></h2>
    <p><footer class="blockquote-footer">You</footer></p>
  </blockquote>

  <blockquote class="blockquote bg-warning-subtle p-3 rounded">
    <h2 class="h5 mb-0 fw-bold"><%= @answer %></h2>
    <p><footer class="blockquote-footer">Your coach</footer></p>
  </blockquote>
</div>